#test{
  .form-horizontal{
    .form-group{
      margin-bottom:25px;
      label{
        line-height: 2em;
      }
      .btn-default{
        margin-top:10px;
      }
      .checkbox-inline span, .radio-inline span{
        line-height: 2em;
      }
    }
  }
}