#test .form-horizontal .form-group {
  margin-bottom: 25px;
}
#test .form-horizontal .form-group label {
  line-height: 2em;
}
#test .form-horizontal .form-group .btn-default {
  margin-top: 10px;
}
#test .form-horizontal .form-group .checkbox-inline span,
#test .form-horizontal .form-group .radio-inline span {
  line-height: 2em;
}
#test .form-horizontal #place_for_tags {
  overflow-y: auto;
  height: 50px;
  line-height: 3em;
}
#test .form-horizontal #place_for_tags .checkbox-inline {
  line-height: 2em;
}
